p {
 color: Orange;
 font-size: 26px;
}

.header {
 color: Orange;
 font-size: 16px;
 font-weight: bold;
}

.link {
 color: Orange;
 font-size: 16px;
 font-weight: bold;
}

body {
		background:url(https://w-dog.ru/wallpapers/15/18/531718904730503/puzyri-svet-fon.jpg);
		color: Orange;
		background-attachment: fixed;
		background-repeat: repeat-x;
}


